body {
  background-color: #035167;
  color: #cccccc;
  font-size: 1.2em;
  font-family: Tahoma, Geneva, sans-serif;
}

.container {
  border:0;
  margin:auto;
}

canvas {
  background-color: #ffffff;
  margin:auto;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
  border: 1px solid black;
}

section {
  margin: 2px 20px 2px 20px;
}

.levels {
  text-align: center;
  min-width: 818px;
}

.graph_container {
  text-align: center;
  min-width: 818px;
}

.graph {
  border: 0;
  display: inline-block;
  font-size: 1.2em;
  font-weight: bold;
  color: #ffee77;
  padding-top: 0.5em;
}

button {
  border: 2px solid #035167;
  border-radius: 5px;
  background-color: #ffffff;
  color: #035167;
  font-weight: bold;
  font-size: 1.2em;
  margin: 0.5em;
  font-family: Tahoma, Geneva, sans-serif;
}

button:hover, button:focus {
  border: 2px solid #f97125;
}

.hints, .points {
  text-align: center;
  min-width: 818px;
}

.points {
  display: none;
  color: #5dd943;
}

.controls_container {
  display: none;
  text-align: center;
  min-width: 818px;
  padding-top:0.5em;
}

.transformation1, .transformation2 {
  text-align: center;
  width: 90%;
  margin: auto;
}

.transformationMenu, .transformationOptions {
  width: 40%;
  margin: auto;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

ul {
  list-style-type: none;
  padding-left: 2em;
}

ul li {
  text-indent: 1em;
}

li:hover {
  color: #035167;
  background-color: #ffffff;
}

.selected, .selectedOption {
  color: #035167;
  background-color: #80e46b;
}

select {
  font-size: 1em;
  color: #cccccc;
  background-color: #035167;
}

select:hover {
  color: #035167;
  background-color: #ffffff;
}

.formSubmit {
  display: none;
}

.transformation2 {
  display: none;
}

/* Simple tooltip from http://codepen.io/cbracco/pen/qzukg and modified for use here */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* modification for chrome highlight, tooltipped elements recieve styling on focus elsewhere */
[data-tooltip]:focus {
  outline: none;
}

[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

[data-tooltip]:before {
  position: absolute;
  top: 120%;
  left: 50%;
  margin-top: 5px;
  margin-left: -15em;
  padding: 0.7em;
  width: 30em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: .6em;
  font-weight: normal;
  line-height: 1.2;
}

[data-tooltip]:after {
  position: absolute;
  top: 90%;
  left: 50%;
  margin-left: -20px;
  width: 0;
  border-bottom: 20px solid #000;
  border-bottom: 20px solid hsla(0, 0%, 20%, 0.9);
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}